---
- name: Add node package key.
  apt_key: data="{{ node_key }}"

- name: Add node repo.
  apt_repository: >
    repo='deb https://deb.nodesource.com/node_6.x trusty main'

- name: Install node
  apt:
    pkg={{ item }}
    state=present
    install_recommends=no
    cache_valid_time=1800
    update_cache=yes
    allow_unauthenticated=yes
    force=yes
  with_items:
  - "{{ nodejs_version }}"
  - g++
